@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-12" style="text-align:center">
            <center><img src="https://media-exp1.licdn.com/dms/image/C4D03AQHmO5z9jI9kBg/profile-displayphoto-shrink_800_800/0/1630031999578?e=1636588800&v=beta&t=Fa0lFonM3xrUan9m3G1-kAaDmd1VmnYUkr74NP4WfK0" class="img-fluid" alt="Responsive image" width="20%"></center>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Experiencia laboral</li>
                <li class="list-group-item">Mareigua S.A.S <br>AGOSTO 2019 - ACTUALIDAD <br>Ingeniera de desarrollo (Implementación de APIs, desarrollo de software. Uso de servicios cloud) </li>
                <li class="list-group-item">Dispapeles S.A.S <br>AGOSTO 2018 - AGOSTO 2019 <br>Desarrollo de software junior (implementación de facturación electrónica).</li>
                <li class="list-group-item">NippySoft S.A.S <br>ENERO 2018 - JUNIO 2018 <br>Desarrollo web y base de datos.</li>
                <li class="list-group-item"></li>
            </ul>
        </div>
    </div>
</div>
