@{
    ViewData["Title"] = "Home Page";
}
<h1><center>Hoja de Vida</center></h1>
<h3><center>Laura Camila Joya Aroca</center></h3>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHmO5z9jI9kBg/profile-displayphoto-shrink_800_800/0/1630031999578?e=1636588800&v=beta&t=Fa0lFonM3xrUan9m3G1-kAaDmd1VmnYUkr74NP4WfK0" class="img-fluid" alt="Responsive image" width="70%">
        </div>
        <div class="col-10">
            <h2>Perfil personal</h2>
            <h4>
                Soy una persona con alta capacidad de
                integración,  lo  que  me  permite  relacionarme  en
                grupo  con  facilidad.  Mis  objetivos   principales  son
                obtener nuevos conocimientos y al   mismo tiempo
                compartir y aplicar los que  ya poseo.
            </h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-ms">
            <ul>
            </ul>
            <ul class="list-unstyled">
                <li class="list-group-item list-group-item-info">Aptitudes</li>
                <li class="list-group-item">* Lenguajes de programación orientados a objetos: C#, Java. </li>
                <li class="list-group-item">* Conocimientos generales de Python </li>
                <li class="list-group-item">* Implementación de servicios en Azure como Web apps,  Cosmos  DB,  Cloud  services,  Applications insights, Azure SQL database</li>
                <li class="list-group-item">* Desarrollo  web  utilizando  MySQL,  SQL  Server, Javascript, HTML , Bootstrap y Razor</li>
                <li class="list-group-item">* Manejo de creación   de informes utilizando Jasper Reports</li>
                <li class="list-group-item">* Experiencia en procesos ETL utilizando servicios como Azure Data Factory o Talend para integración de datos</li>
                <li class="list-group-item">* Manejo de control de versiones, gestión de proyectos y ciclo de vida de un aplicativo utilizando Azure DevOps </li>
            </ul>
            <br>
        </div>
        <div class="col-ms">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Idiomas</li>
                <li class="list-group-item">Español: Idioma nativo</li>
                <li class="list-group-item">
                    Ingles: B1 (Actualmente estudío en Academia de Idiomas SMART) para mejorar mis habilidades
                </li>
            </ul>
            <br>
        </div>
    </div>
</div>
