@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-12" style="text-align:center">
            <center><img src="https://media-exp1.licdn.com/dms/image/C4D03AQHmO5z9jI9kBg/profile-displayphoto-shrink_800_800/0/1630031999578?e=1636588800&v=beta&t=Fa0lFonM3xrUan9m3G1-kAaDmd1VmnYUkr74NP4WfK0" class="img-fluid" alt="Responsive image" width="20%"></center>
        </div>
    </div>
    <br>
    <div class="row">
        <h2>Informacion personal</h2>
        <div class="col-sm">
            <ul class="list-group">
                <li class="list-group-item"><b>Edad:</b> 24 años</li>
                <li class="list-group-item"><b>Fecha nacimiento:</b> 04- junio - 1997</li>
                <li class="list-group-item"><b>Lugar nacimiento:</b> Bogotá, Colombia</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <h2>Contacto</h2>
        <div class="col-sm">
            <ul class="list-group">
                <li class="list-group-item"><b>Teléfono:</b> +57 320 308 1624</b>
                <li class="list-group-item"><b>Correo:</b> lauracja.123@gmail.com</li>
                <li class="list-group-item"><b>Dirección:</b> Calle 90 D sur #6D-11 este</li>
                <li class="list-group-item"><b>Ciudad:</b> Bogotá</li>
            </ul>
        </div>
    </div>
</div>
